@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}



.moveLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none; /* Crucial so you can still click things */
    transition: all ease 0.3s;
    overflow: hidden; /* Acts as the "window" */
    display: flex;
}

.moveX {
    display: flex;
    flex-shrink: 0; /* Prevents the text from squishing */
    white-space: nowrap;
    animation: moveAnimation 10s linear infinite;
}

.link:hover .moveLink {
    opacity: 1;
}

@keyframes moveAnimation {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}